<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    <!--<script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>-->
    <script src="../lib/angular.min.js"></script>
    <script src="../js/module.js"></script>
    <title></title>
</head>
<body ng-controller="myController">
    <div my-test>
        <p>id:{{id}}</p>
        <p>content:{{content}}</p>
    </div>
</body>
</html>